[Unit]
Description= ALNA System Control Service
# After=mosquitto.service

[Service]
Type=simple
# Use a dedicated user to run our service
User=pi

#directory holding the relevant files
WorkingDirectory=/home/pi/ph-control

#Command to execute when the service is started
ExecStart=/home/pi/ph-control/env/bin/python ph-control.py

# Disable Python's buffering of STDOUT and STDERR, so that output from the
# service shows up immediately in systemd's logs
Environment=PYTHONUNBUFFERED=1

#ExecStopPost=+/bin/bash config/release.sh  60

# Automatically restart the service if it crashes
Restart=on-failure

[Install]
WantedBy=multi-user.target
